<th:block th:insert="app::main(_, _)" th:with="title='Account'">
  <content>
    <a th:href="@{/admin/account/create}" class="btn btn-primary">
      <i class="fa fa-plus"></i> [[ #{action.create} ]]
    </a>
    <hr>

    <table class="table table-hover table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${data}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.email}"></td>
        <td th:text="${#dates.format(item.created, 'dd-MMM-yyyy')}"></td>
        <td>
          <a th:href="@{'/admin/account/edit/' + ${item.id}}" class="btn btn-warning btn-sm">
            <i class="fa fa-edit"></i>
          </a>
          <a th:href="@{'/admin/account/delete/' + ${item.id}}"
            th:attr="confirm=#{confirm.delete}"
            method="POST"
            class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </content>
</th:block>